WAKATIME_API_KEY=
WAKATIME_API_URL=https://wakatime.com/api/v1/users/current/stats
TURSO_AUTH_TOKEN=
TURSO_DATABASE_URL=
ADMIN_PASSWORD=
ADMIN_EMAIL=
JWT_SECRET=
IHSG_API_URL=
DOMAIN
IMAGE
EMAIL
SECRET_KEY_ADMIN
SECRET_KEY_CUSTOMER