DOMAIN=analytics-dashboard.example.com
EMAIL=admin@example.com
IMAGE=gtcd:latest
GOATCOUNTER_URL=https://analytics.ekel.dev
GOATCOUNTER_API_KEY=your_api_key_here
SESSION_SECRET=random_session_secret_32_chars
REDIS_URL=redis://localhost:6379
